.div-1 {
    width: 190px;
    height: 100%;
    position: fixed;
    background-color: black;
    top: 0;
    left: 0;
    padding: 20px 19px;
}


.nav-1 .nav_option {

    text-decoration: none;
    color: grey;
    font-weight: bolder;
    font-family: 'DM Sans', sans-serif;
    display: flex;

}


.nav-1 :hover {
    color: white;
}

.image-2 {
    width: 130px;
}

.nav-1 .image-1 {
    width: 28px;
    padding: 4px;
    height: 30px;
}

.nav-1 span {
    margin: 15px;

}

.nav-1 {
    margin-top: 65px;
    line-height: .7em;
}

#active :active {
    color: white;
}


.div-2 {
    height: 11%;
    width: 100%;
    background-color: black;
    position: fixed;
    top: 0;
    left: 0;
}

.header-1 a {
    font-weight: bolder;
    font-family: 'DM Sans', sans-serif;
    color: grey;
}

.logo-1 {
    float: left;
    margin: 20px;
}

.div-2 span {
    float: right;
    line-height: 2.5;
    margin: 10px 20px 0px 50px
}

.login span {
    text-align: center;
    background-color: white;
    border-radius: 20px;
    width: 70px;
    height: 38px;
    color: black;
    font-weight: bolder;
    cursor: pointer;
}

.signup :hover {
    color: white;
}

.login :hover {
    transform: scale(1.1);
}

.div-3 {
    background-color: rgb(24, 22, 22);
    width: 87%;
    height: 400px;
    display: flex;
    margin: 60px 0px 0px 220px;
}

.section-1 {
    background-color: black;
    width: 210px;
    height: 310px;
    border-radius: 14px;
    display: flex;
    margin: 55px;
}


.section-1 img {
    width: 150px;
    margin: 30px 0px 25px 29.5px;
    border-radius: 15px;
    display: flex;

}


.section-1 a {
    text-decoration: none;
    font-weight: bolder;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}


.text-1 {
    color: white;
}


.text-2 {
    color: grey;
}



.section-1 :hover {
    background-color: rgb(27, 27, 27);
}

.text-5 {
    color: white;
}


.text-6 {
    color: grey;
}

.text-3 {
    color: white;
}

.text-4 {
    color: grey;
}

#image-3 {
    height: 190px;
}

.div-4 {
    background-color: rgb(24, 22, 22);
    width: 87%;
    height: 400px;
    display: flex;
    margin: 0px 0px 0px 220px;
}

.section-2 {
    background-color: black;
    width: 210px;
    height: 310px;
    border-radius: 14px;
    display: flex;
    margin: 55px;
}

.section-2 img {
    width: 150px;
    margin: 30px 0px 25px 29.5px;
    border-radius: 15px;
    display: flex;
    height: 185px;
}

.section-2 a {
    text-decoration: none;
    font-weight: bolder;
    font-family: 'DM Sans', sans-serif;
    text-align: center;
}

.text-7 {
    color: white;
}


.text-8 {
    color: grey;
}

.section-2 :hover {
    background-color: rgb(27, 27, 27);
}

.text-9 {
    color: white;
}


.text-10 {
    color: grey;
}

.text-11 {
    color: white;
}

.text-12 {
    color: grey;
}